*, *::before, *::after {
	font-family: Roboto;
}

li {
	list-style: none;
	padding: 12px;
	border-top: 1px solid grey;
}

ul {
	margin: 0;
	margin-bottom: 56px;
	padding: 0;
}

form {
	padding: 12px;
	border-top: 6px solid grey;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

input {
	width: 90%;
	max-width: 1024px;
}

.note {
	font-family: monospace;
	text-align: right;
}
